<p>{{ site.copyright_text }} <a href="{{ site.copyright_url }}" target="_blank"> Navi+</a></p>

<!---- Navi+ embed code ---->
<script
  type="application/javascript"
  src="https://live.naviplus.app/start.js"
  shop="naviplus.io"
  async  
  onerror="var t=this,s=document.createElement('script'); for(var i=0;i<t.attributes.length;i++){ var a=t.attributes[i];if(a.name!=='src' && a.name!=='onerror') s.setAttribute(a.name,a.value);} s.src='https://flov.naviplus.app/start.js';document.head.appendChild(s);">
</script>
