<!-- Insert the code where the menu {{ include.embed_id | default: 'SF-123456789' }} appears. (c) naviplus.io -->
<div class="naviman_app section_naviman_app" id="{{ include.embed_id | default: 'SF-123456789' }}-container"></div>
<script>(window._navi_setting ||= []).push({
   token: "{{ include.token | default: 'NAVI123456' }}",
   embed_id: "{{ include.embed_id | default: 'SF-123456789' }}"
});</script>
<script src="https://live.naviplus.app/start.js" async></script>
<!-- Insert the code where the menu {{ include.embed_id | default: 'SF-123456789' }} appears -->